/*Preparamos entorno de trabajo*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*con el font-size hacemos la modificación para poder utilizar la medida rem y llamamos a las fuentes importadas en el html*/

html {
  font-size: 62.5%;
  font-family: 'DM Sans', 'sans-serif';
}

/* creamos las variables para los colores del proyecto */

:root {
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7e5ee;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}

/*Sección de header*/

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100% );
 }

 /*logo batatabit header*/

header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center; /*De esta forma centramos elementos cuando tenemos un contenedor en display flex*/
}
.header--title-container {
  width: 90%;
  min-width: 320px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center; 
}
.header--title-container h1 {
  font-size: 2.4rem;
  font-weight: bold; /*grosor de la letra*/
  line-height: 2.6rem; /*Distancia entre lineas*/
  color: var(--just-white);
}
.header--title-container p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

/*Botón flotante*/

.header--title-container .header--button {
  position: absolute; /*Con esta posición el contenido se puede mover arriba, abajo, izquierda y derecha. y puede salirse del contenedor logrando hacer el botón flotante*/
  left: calc(50% - 118px); /*Lo utilizamos para centrar el boton*/
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background: var(--off-white);
  /*sombra*/
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16 );
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--black);
  text-decoration: none;
}

/*Icono de botón flotante*/

.header--button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url('./assets/iconos/icono-flecha-boton.svg');
}

/*Sección de main, primera parte*/

main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}
.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}
.main-exchange-container--title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
.main-exchange-container .backgroundImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url(./assets/imagenes/Bitcoin.svg);
  background-size: cover; /*Cambia el tamaño de la imagen de fondo para cubrir todo el contenedor, incluso si tiene que estirar la imagen o cortar un poco uno de los bordes*/
  background-position: center; /*la imagen siempre va a estar centrada*/
  background-repeat: no-repeat; /*esta etiqueta permite que la imagen no se repita si el contenedor se vuelve mas pequeño*/
}
.main-exchange-container h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
.main-exchange-container p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  margin-bottom: 30px;
  color: #757575;
}

/* Sección de main, segunda parte: scroll horizontal de tabla monedas y comisiones */
/* tabla de monedas */

.main-tables--container {
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity; 
}
.main-coin-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Inter", "sans-serif";
}
.main-coin-table .coin-table--title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--bitcoin-orange);
  background-color: var(--off-white);
  text-align: center;
  padding-left: 20px;
}
.coin-table--container {
  position: relative;
  scroll-snap-align: center;
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}
.coin-table--container table {
  width: 100%;
  height: 100%;
}
.coin-table--container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--just-white);
}
.coin-table--container .table__top-left {
  border-radius: 15px 0 0 0;
}
.coin-table--container .table__bottom-right {
  border-radius: 0 0 15px 0;
}
.coin-table--container .table__bottom-left {
  border-radius: 0 0 0 15px;
}
.coin-table--container .table__top-right {
  border-radius: 0 15px 0 0;
}
.coin-table--container .table__right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}
.coin-table--container .down {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url('./assets/iconos/icono-indicador-descendente.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.coin-table--container .up {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url('./assets/iconos/icono-indicador-ascendente.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.coin-table--date {
  width: 190px;
  height: 30px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 8px;
  background-color: var(--soft-orange);
  border-radius: 8px;
}
.coin-table--date p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: var(--warm-black);
}
.coin-arrow--right{
  position:absolute;
  width: 40px;
  height: 40px;
  margin: 118PX 0 0 130PX;
  background-image: url('./assets/iconos/icono-flecha-derecha.svg');
  background-repeat: no-repeat;
}

/* tabla de comisiones */

.main-commission-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Inter", "sans-serif";
}
.main-commission-table .commission-table--title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--secondary-blue);
  background-color: var(--off-white);
  text-align: center;
  padding-left: 20px;
}
.commission-table--container {
  position: relative;
  scroll-snap-align: center;
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}
.commission-table--container table {
  width: 100%;
  height: 100%;
}
.commission-table--container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--just-white);
}
.commission-table--container .table__top-left {
  border-radius: 15px 0 0 0;
}
.commission-table--container .table__bottom-right {
  border-radius: 0 0 15px 0;
}
.commission-table--container .table__bottom-left {
  border-radius: 0 0 0 15px;
}
.commission-table--container .table__top-right {
  border-radius: 0 15px 0 0;
}
.commission-table--container .table__right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}
.commission-table--date {
  width: 190px;
  height: 30px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 8px;
  background-color: var(--soft-blue);
  border-radius: 8px;
}
.commission-table--date p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: var(--warm-black);
}
.coin-table--container .table__left {
  text-align: start;
  padding-left: 20px;
}
.commission-table--container .table__left {
  text-align: start;
  padding-left: 20px;
}
.coin-arrow--left{
  position:absolute;
  width: 40px;
  height: 40px;
  margin: 118PX 0 0 -130PX;
  background-image: url('./assets/iconos/icono-flecha-izquierda.svg');
  background-repeat: no-repeat;
}

/* Sección de main, tercera parte: imagen flotante, encabezado, parrafo, contenedores */

.main-product-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--warm-black);
}
.product-detail--batata-logo {
  position: absolute; /* con esta posición busca a la posición relative del padre directo para empezar desde hay, por eso en el area anterior se coloco position: relative */
  width: 40px;
  height: 25px;
  top: -10px;
  left: calc(50% - 20px); /* los 20px es la medida de la imagen, si solo dejamos el 50% la imagen inicia justo en la mitad lo cual no la dejaria estar centrada */
  background-image: url(./assets/iconos/icono-papa.svg);
}
.product-detail--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}
.product-detail--title h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
.product-detail--title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}
.product-detail--card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  height: 150px;
  margin: 15px auto;  
  padding: 15px;
  background-color: var(--black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product-detail--card .clock {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-image: url(./assets/iconos/icono-reloj.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product-detail--card .clock {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-image: url(./assets/iconos/icono-reloj.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product-detail--card .eye {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-image: url(./assets/iconos/icono-ojo.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product-detail--card .dolar {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-image: url(./assets/iconos/icono-dolar.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product-detail--card .check {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-image: url(./assets/iconos/icono-check.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product-card--title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}
.product-card--body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

/* Sección de main, cuarta parte: imagen de fondo y encabezado 1 y 2 y parrafo */

.bitcoin-img-container {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background-image: url('./assets/imagenes/bitcoinbaby\ 1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.bitcoin-img-container h2 {
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
.main-plans-container {
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;
  text-align: center;
}
.plans--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
}
.plans--title h2 {
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
.plans--title p {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}

/* Sección de main, quinta parte: scroll horizontal de contenedores */

.plans-container--slider{
  display: flex;
  height: 316px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity; /* se centra de manera automatica si el scroll se da en la mitad de dos secciones */
  /* estas propiedades es para generar un scroll horizontal, solo de la sección sin afectar el resto del contenido */
}
.plans-container--card {
  position: relative;
  scroll-snap-align: center; /* aca se escribe esta propiedad para que la sección anterior se de, del scroll horizontal */
  width: 70%;
  min-width: 190px;
  max-width: 300px;
  height: 250px;
  max-height: 300px;
  margin: 50px 5px 0;
  padding: 0 15px;
  background-color: var(--just-white);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0);
}
.recommended {
  position: absolute;
  width: 120px;
  left: calc(50% - 60px);
  top: -15px;
  font-size: 1.2rem;
  padding: 6px;
  background-color: var(--bitcoin-orange);
  border-radius: 8px;
  color: var(--just-white);
}
.plan-card-title {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--black);
}
.plan-card--price {
  padding: 5px 0;
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 5.3rem;
  color: var(--black);
}
.plan-card--price span {
  font-size: 1.2rem;
  font-weight: 300;
  position: absolute;
  margin: -15px 0 0 -5px;
}
.plan-card--saving {
  font-size: 1.2rem;
  color: #757575;
}
.plan-card--ca {
  width: 150px;
  height: 48px;
  margin-top: 20px;
  background-color:#faf8f7;
  border: 2px solid var(--bitcoin-orange);
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  font-family:'DM Sans';
  color: var(--black);
}
.plan-card--ca span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('./assets/iconos/icono-boton-derecha.svg');
  vertical-align: text-bottom;
}
.arrow--right {
  position:absolute;
  margin-left: -180px;
  margin-top: -30px;
  width: 30px;
  height: 30px;
  background-image: url('./assets/iconos/icono-main-flecha-derecha.svg');
  background-repeat: no-repeat;
}
.arrow--left {
  position:absolute;
  margin-left: 22px;
  margin-top: -30px;
  width: 30px;
  height: 30px;
  background-image: url('./assets/iconos/icono-main-flecha-izquierda.svg');
  background-repeat: no-repeat;
}

/* Sección de footer */

footer {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: var(--bitcoin-orange);
}
footer section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .left ul {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}
.left li {
  margin: 10px 0;
}
.left a {
  text-decoration: none;
  color: var(--just-white);
}

/* formato responsive para iconos de scroll horizontal */

@media (min-width: 500px) {
  .arrow--left {
    display: none;
  }
  .arrow--right {
    display: none;
  }
}
@media (min-width: 370px) {
  .coin-arrow--left{
    display: none;
  }
  .coin-arrow--right{
    display: none;
  }
}